{% set py_ver = os.environ["CONAN_CPYTHON_VERSION"] %}
{% set py_tag = "cp" + "".join(py_ver.split(".")[:2]) %}
{% set cpython_ref = "cpython-portable/" + py_ver %}
{% set wheel_arch = "win_amd64" if platform.machine() in ("AMD64", "x86_64") else "win32" %}
include(default)

[tool_requires]
&:{{ cpython_ref }}

[buildenv]
WHEEL_PYVER={{ py_tag }}
WHEEL_ABI={{ py_tag }}
WHEEL_ARCH={{ wheel_arch }}
